body,
div,
p,
span,
h1,
h2,
h3 {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
}

body {
  height: 100%;
  background-color: bisque;
}

.clock-device:hover {
  box-shadow: 0 0 50px rgba(255, 131, 97, 0.9);
}
